@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --global-font-size: 16px;
    --global-font-color: #444;
    --mono-font-stack: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --font-stack: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --global-line-height: 1.6em;
    --page-width: 60em;
    --display-h1-decoration: 1;
    --code-bg-color: #fff;
    --accent-color: #BA49F5;
    --font-color: #333;
    --global-font-color: #333;
    --secondary-color: #444;
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
        --global-line-height: 1.6em;
        --page-width: 60em;
    }
}


.sidebar-heading {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
}

.box-masonry .box-masonry-image {
    background: #fff;
}

.box-masonry,
.box-masonry:hover {
    box-shadow: none;
}

.label {
    font-family: var(--font-stack);
}

body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: #fff;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-stack);
    clear: both;
}

h1 {
    margin-bottom: 150px;
}

.terminal h1 {
    font-size: 1.1em;
}

img {
    margin: auto;
    max-width: 100%;
}

.profile-img,
.profile-img img {
    max-width: 100%;
    margin: auto;
    padding: 0;
}

.profile-img>img {
    border-radius: 25%;
}

p {
    line-height: var(--global-line-height);
}

.about-content {
    display: grid;
    grid-template-columns: minmax(100px, 150px) auto;
    grid-gap: 20px;
    line-height: 1em;
    text-align: justify;
}

.about-text {
    padding-top: 0;
}

.about-author,
.about-description,
.about-social {
    text-align: center;
}

.about-author {
    margin-top: 10px;
    font-weight: bold;
}

.about-description {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}

.about-social {
    margin-top: 20px;
}

.about-social a:hover {
    background: none;
}

.content-column-content p,
.content-column-content li {
    color: #666;
}

.btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #333;
    font-weight: 400;
    font-family: var(--font-stack);
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.55;
    border-radius: 0;
    margin-left: 0;
    margin-top: 5px;
}

.content-column-content .command {
    color: #aaa;
}

p.social a {
    margin: 0 0 10px 0;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
    color: #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.active a {
    text-decoration: underline;
}

strong,
.terminal strong {
    color: var(--accent-color);
    font-weight: bold;
}

.logo {
    font-weight: normal;
}

.title-logo {
    color: var(--accent-color);
    font-weight: bold;
}

.terminal-nav {
    flex-direction: column;
    align-items: start;
}

.nav-current {
    font-weight: bold;
}

.terminal-menu ul {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0;
}

.terminal-menu li {
    margin-top: -0.5em;
}

figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 300px;
}

article {
    flex: 1;
}

.footer {
    clear: both;
    min-height: 100px;
    padding-top: 10px;
    border-top: 1px solid var(--secondary-color);
    color: var(--global-font-color);
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
            minmax(calc(var(--page-width) / 4), 1fr));
}

.terminal-prompt::after {
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
    width: 8px;
    background: var(--font-color);
}

.terminal-prompt::before {
    content: none;
}

.gallery-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.post-data {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 20px;
}

.post-data h1 {
    padding-top: 0;
}

.post {
    display: flex;
    flex-direction: column;
}

.post h1,
.post h1::after {
    color: var(--primary-color);
}

.post h1,
.post h2 {
    margin: 0;
    margin-bottom: 5px;
    width: fit-content;
}

.post h2 {
    color: var(--accent-color);
}

.posts-list .date {
    left: 0px;
    width: 100%;
    padding-top: 0;
}

@media only screen and (max-width: 850px) {
    img {
        max-width: 100%;
    }

    .terminal-nav {
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }

    .terminal-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
    }

    .terminal-menu li {
        margin-right: 20px;
    }

    .logo {
        padding: calc(var(--global-space) * 1) 0 calc(var(--global-space) * 1);
    }

    figure {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .posts-list {
        position: relative;
        padding-left: 0;
        top: 0;
    }

    .post-data {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }

    .post-data .date {
        text-align: left;
    }


    .footer {
        margin-top: 50px;
        padding-top: 5px;
        ;
    }
}