{{ with .Site.GetPage "/about" }}
<div class="about-content">
    <div class="about-picture">
        {{ .Summary }}
        <div class="about-author">{{ .Site.Params.author }}</div>
        <div class="about-description">{{ .Site.Params.description }}</div>
        <div class="about-social">
            <a href="{{ .Site.Params.linkedinURL }}" target="_blank" title="My LinkedIn profile!"><i
                    class="fa-brands fa-linkedin fa-2xl" style="color: #0e76a8;"></i></a>
            <a href="{{ .Site.Params.githubURL }}" target="_blank" title="My GitHub page!"><i
                    class="fa-brands fa-github fa-2xl" style="color: #171515;"></i></a>
        </div>
    </div>

    <div class="about-text">
        {{ $body := replace .Content .Summary "" }}
        {{ $body | emojify | safeHTML }}
    </div>
</div>

{{ end }}