<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if and (ne .Page.Title "") (not .IsHome) }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="generator" content="Hugo {{ hugo.Version }}">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <link rel="stylesheet" href="{{ relURL "hugo-theme-console/css/terminal-0.7.2.min.css" }}">
  <link rel="stylesheet" href="{{ relURL "hugo-theme-console/css/animate-4.1.1.min.css" }}">
  <link rel="stylesheet" href="{{ relURL "hugo-theme-console/css/console.css" }}">
  <link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/fontawesome/css/brands.min.css" rel="stylesheet">
  {{ `
    <!--[if lt IE 9]>
        <script src="hugo-theme-console/js/html5shiv.min.js"></script>
        <script src="hugo-theme-console/js/respond.min.js"></script>
    <![endif]-->
  ` | safeHTML }}

  {{- partial "favicon.html" . -}}
  {{ with .OutputFormats.Get "RSS" }}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end }}
  {{- partial "opengraph.html" . -}}
  {{- partial "twitter_cards.html" . -}}
  {{ template "_internal/google_analytics.html" . }}

  {{- partial "header.html" . -}}
</head>
<body class="terminal">
  <div class="container">
    <header class="terminal-nav">
      <div class="terminal-logo">
        <div class="logo terminal-prompt">
          {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
          {{ $.Scratch.Add "path" .Site.BaseURL }}
          <a href="{{ .Site.BaseURL }}" class="title-logo {{ with .Site.Params.TitleCutting }}site-name{{ end }}">{{ .Site.Title }}</a>:<a href="{{ .Site.BaseURL }}">&#128049;</a>{{ range $index, $element := split $url "/" }}{{ $.Scratch.Add "path" $element }}{{ if ne $element "" }}<a href='{{ $.Scratch.Get "path" | absURL }}'>/{{ . }}</a>{{ $.Scratch.Add "path" "/" }}{{ end }}{{ end }} $
        </div>
      </div>
    </header>
    <nav class="terminal-menu">
      <ul vocab="https://schema.org/" typeof="BreadcrumbList">
        {{ range .Site.Params.navlinks }}
        <li {{ $permalink := $.Page.RelPermalink }}{{ if or (and ($.IsHome) (eq .url $permalink)) (eq (trim .url "/") (index (split $permalink "/") 1)) }}class="nav-current"{{ end }}><a href="{{ absURL .url }}" typeof="ListItem">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <article>
      {{ block "main" . }}
      {{ end }}
    </article>
    {{ partial "footer.html" . }}
  </div>
  </body>
</html>
