{{ define "main" }}
<h1></h1>
{{ if ne .Page.Title "About" }}
{{ .Content }}
{{ else }}
{{ partial "about/description.html" . }}
{{ end }}

{{ if and (eq .Page.Title "Posts") (not .Page.Pages) }}
No posts yet. Check back soon!
{{ end }}

<div class="posts-list">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
    <div class="post-data">
        <div class="date">{{ .PublishDate.Format "2006-01-02" }}</div>
        <div class="post">
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}