{{ define "main" }}
<div class="post">
<h1>{{ .Title }}</h1>

{{ .PublishDate.Format "2006-01-02" }}
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}
<br/><br/>
{{ .Content }}
{{ template "_internal/disqus.html" . }}
</div>
{{ end }}