<footer class="footer">
    Powered by <a href="https://gohugo.io/">Hugo</a> with <a
        href="https://github.com/mrmierzejewski/hugo-theme-console/">Console Theme</a> modified by <a
        href="https://github.com/joaohira/joaohira.github.io">joaohira (me!)</a> &#10084;
    2023
</footer>