{{ define "main" }}

<h1></h1>

{{ partial "about/description.html" . }}

<br />
{{ with .Site.GetPage "/posts" }}
{{ if .Pages }}
<h1>Latest posts</h1>

<div class="posts-list">
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post-data">
        <div class="date">{{ .PublishDate.Format "2006-01-02" }}</div>
        <div class="post">
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}


{{ end }}